@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@800&family=Quicksand:wght@700&display=swap');

:root {
    --font-title: 'Barlow Condensed', sans-serif;
    --font-body: 'Arial', sans-serif;
    --color-divers: #552762;
    --color-livre: #A8BD4C;
    --color-musique: #D2963A;
    --color-cinema: #5C87B4;
}
@page {
    size: a4 portrait;
    margin: 0mm;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-body);
    font-weight: 500;
    font-size: 5pt;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
}

#app {
    display: flex;
    flex-wrap: wrap;
    width: 210mm;
    height: 297mm;
    gap: 2mm 2mm;
    /* background-image: url(/patron.jpg); */
    /* border: 0.5mm dashed magenta; */
    background-size: 100% 100%;
    padding: 13mm 7mm 13mm 9mm;
}

.card {
    /* opacity: 0.5; */
    padding: 5mm;
    width: 73mm;
    height: 104mm;
    display: flex;
    flex-direction: column;
    border-radius: 3mm;
}

.card:has(.questions) {
    background-color: var(--color);
}

.card:has(.answers) {
    color: #FFFFFF;
    background-color: var(--color);
}

.card:has(.answers) .answers {
    color: black;
}

.card .header {
    display: flex;
    flex-direction: column;
    gap: 0 1.2mm;
    height: 10mm;
    justify-content: center;
    align-content: center;
    color: #FFFFFF;
    position: relative;
}

.card .ttmc {
    font-size: 12px;
    line-height: 12px;
    font-family: var(--font-title);
    font-weight: 600;
    width: fit-content;
    align-self: center; 
}

.card .theme {
    text-wrap: balance;
    font-size: var(--size);
    line-height: var(--size);
    font-family: var(--font-title);
    font-weight: 800;
    text-transform: uppercase;
    width: fit-content;
    align-self: center;
}

.card.back .theme {
    font-size: 9pt;
    background-color: #782119;
    transform: rotate(-3deg);
    transform-origin: bottom left;
    width: fit-content;
    align-self: self-start;
    padding: 10px 65px;
}

.card .icon {
    grid-area: icon;
    width: 12mm;
    position: absolute;
    top: 2px;
    right: 0px;
}

.card .questions,
.card .answers {
    display: flex;
    flex-direction: column;
    gap: 1pt;
    flex-grow: 1;
    background-color: #F7F3E2;
    border-radius: 0 2% 2% 0;
}

.card .question,
.card .answer {
    align-items: center;
    flex-grow: 1;
}

.card .question {
    border-bottom: 0.5mm solid #CAC9C4;
}
.card .question:last-of-type{
    border-bottom: none;
}
.card .answer {
    border-bottom: 0.5mm solid #CAC9C4;
}
.card .answer:last-of-type{
    border-bottom: none;
}

.card .question p,
.card .answer p {
    margin: 0;
    padding: 1mm;
    text-wrap: balance;
}

.card code {
    padding: 1px 2px;
    font-size: 6pt;
    font-family: Menlo, monospace;
    background-color: #eeeeee;
    border-radius: 3px;
}

.card .question .num,
.card .answer .num {
    font-size: 18pt;
    display: grid;
    place-items: center;
    flex-shrink: 0;
    width: 20pt;
    height: 100%;
    float: left;
    margin-right: 5px;
}

.card .question .num {
    color: var(--color);
}

.card .answer .num {
    color: #782119;
}
